@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
  /* You can also provide additional font formats for better browser compatibility */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.nunito{
  font-family: 'Nunito', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
